{{template "head"}}

<form id="admin-suggestion" action="/api/admin/add-movie" apiKey={{.MovieAPIKey}}>
    <label for="movie-id">Movie Id:</label>
    <input type="text" id="movie-id" name="movie-id" required>

    <button type="button" onclick="loadMovie()">Load</button>
    <button type="submit">Submit</button>
    <div id="movie-details">
    
    </div>
</form>

<form id="schedule-form">
    <!-- <label for="year">Year:</label>
    <input type="number" id="year" name="year" required><br> -->

    <label for="month">Month:</label>
    <input type="number" id="month" name="month" min="1" max="12" required><br>

    <label for="day">Day:</label>
    <input type="number" id="day" name="day" min="1" max="31" required><br>

    <label for="hour">Hour:</label>
    <input type="number" id="hour" name="hour" min="0" max="23" required><br>

    <label for="minute">Minute:</label>
    <input type="number" id="minute" name="minute" min="0" max="59" required><br>

    <button type="submit">Schedule Event</button>
</form>
{{template "foot"}}

<script src="/scripts/admin.js"></script>