{{template "head" .IsSignedIn}}
<div id="attendees">
    <h3 class="section-header">Attendees</h1>
    <ul>
        {{range $name := .Attendees}}
        <li>{{$name}}</li>
        {{end}}
    </ul>
</div>
{{template "foot"}}