{{define "head"}}
<head>
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<div class="main">
    <a href="/"><h1 id="title">Hay Fever Theater</h1></a>
    {{if .}}
    <div id="nav-bar">
        <nav>
            <a href="/vote">Pick the Movie</a>
            <a href="/attendees">See Who's Coming</a>
            <a href="/directions">How to Get Here</a>
        </nav>
    </div>
    {{end}}
    <div id="the-stuff">
{{end}}

{{define "foot"}}
    <div>
</div>
<script src="/scripts/boilerplate.js"></script>
{{end}}