{{template "head"}}
<p>
    1142 E Smith Rd, Bellingham WA 98226
</p>
<p>
    Pull into Stephen's Drive, take the 2nd entrance, and park behind the barn.
</p>
<img id="map" src="/img/movie-map.png" alt="directions">
{{template "foot"}}