{{template "head" .IsSignedIn}}

{{if .IsSignedIn}}
<div id="welcome">
    Welcome, {{.Name}}!
    <form id="logout-form" action="/api/logout" method="POST">
        <button id="logout-button" type="submit">Not you? Sign out</button>
    </form>
</div>
{{end}}

<p>The next show starts {{.EventDate}} at {{.StartTime}}. Doors open at {{.DoorTime}}.</p>

{{if not .IsSignedIn}}
    <p>
        Sign in to RSVP and vote on what movie we're watching!
    </p>
    <div id="login-forms">
        <form id="registration-form" action="/api/register" method="POST">
            <h3 class="section-header">New Here?</h3>
            <div>
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first_name" required>
            </div>
            <div>
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last_name" required>
            </div>
            <div>
                <label for="register-phone">Phone Number:</label>
                <input type="tel" id="register-phone" name="phone" required pattern="[0-9]{10}">
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <form id="sign-in-form" action="/api/sign-in" method="POST">
            <h3 class="section-header">Sign back in</h3>
            <div>
                <label for="sign-in-phone">Phone Number:</label>
                <input type="tel" id="sign-in-phone" name="phone" required>
            </div>
            <div>
                <button type="submit">Sign In</button>
            </div>
        </form>
    </div>
{{else}}
    {{if .IsRSVPed}}
        <form id="rsvp-form" action="/api/rsvp/no" method="POST">
            <h3 class="section-header">Can't make it anymore?</h3>
            <div>
                <button type="submit">Cancel my RSVP</button>
            </div>
        </form>
    {{else}}
        <form id="rsvp-form" action="/api/rsvp/yes" method="POST">
            <h3 class="section-header">Will you be attending?</h3>
            <div>
                <button type="submit">RSVP Me!</button>
            </div>
        </form>
    {{end}}
{{end}}
<script src="/scripts/home.js"></script>    

{{if .UpcomingEvents}}
<h3 class="section-header">Upcoming Events</h3>
<ul>
    {{range .UpcomingEvents}}
        <li>{{.}}</li>
    {{end}}
</ul>
{{end}}

{{template "foot"}}