{{template "head"}}
<p>No Events Scheduled</p>
<form id="sign-in-form" action="/api/sign-in" method="POST">
    <h3 class="section-header">Sign back in</h3>
    <div>
        <label for="sign-in-phone">Phone Number:</label>
        <input type="tel" id="sign-in-phone" name="phone" required>
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
</form>
<script src="/scripts/home"></script>
{{template "foot"}}